<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "miniface3.png" %>">
  <a class="circle">みにふぇいす</a>
  <h3>MiniFaceはこども用のFacebookみたいなアプリだよ</h3>
 </section>
    
 <section class="about">
  <div class="row">
  <div class="about-images">      
      
     <h2>ともだち１００にん　できるかな？</h2>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="about-image">
          <img src="<%= asset_path "rainbow.png" %>">
         <p>ともだち　かけはし</p>
        </div>
      </div>        
   </div>
  </div>
 
  </div>      
 </section>   

<section class="function container-fluid">
</section>
    
 <div id="page-top-btn" class="page-top-btn">
     <p><a class="move-page-top" id="move-page-top">▲</a></p>
 </div>