<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <%=  notification.read ? 'もうよんだ' : 'まだよんでない' %>
      <p>
        <%= notification.comment.user.try(:name) %>さんが
        きみのTopic（<%= link_to "#{notification.comment.topic.title}", topic_path(notification.comment.topic, notification_id: notification.id) %>）にコメントしたよ！
      </p>
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>

  </div>
</div>